#create{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 0 25%;
    width: 500px;
    justify-content: center;
    padding: 20px;
    
}
input,select{
    display: block;
    margin: 10px auto;
    width: 98%;
    padding: 5px;
}
h1{
    text-align: center;
}
label{
    margin-left: 6px;
}