.container{
    display: grid;
    grid-template-columns: repeat(3,32%);
    gap: 30px;
    margin: 40px 80px;
  
}
.child{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}
.child>div{
    display: flex;
    justify-content: space-between;
}
h2,p{
    padding: 3px 10px;
}
.child div h2:last-child{
    color: gold;
}

/* medium screens */
@media only screen and (min-width: 480px) and (max-width: 720px) {
    .container{
        grid-template-columns: repeat(2,48%);
        margin: 5px 30px;
    }
    
}

/* small screens */
@media only screen and (min-width: 0px) and (max-width: 480px) {
    .container{
        grid-template-columns: repeat(1,98%);
        margin: 5px 40px;
    }
    
    
}
